@import "./reset.css";
* {
  box-sizing: border-box;
}

main {
  margin: 0 100px;
  font-size: 1.2rem;
}

section {
  border: 2px solid black;
  border-bottom: 0;
  padding: 20px;
}

.primary-button {
  background-color: rgb(84, 84, 84);
  width: 100px;
  height: 30px;
  font-weight: 800;
  color: white;
  border-radius: 4px;
}

.flex {
  display: flex;
  padding-right: 30px;
}

#self-introduction-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#movies-introduction-section {
  flex-direction: column;
}

#movies-introduction-table {
  margin-top: 30px;
  width: 100%;
}

#movies-introduction-table tr:first-child {
  height: 100px;
}

#movies-table-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster {
  width: 600px;
}

th,
td {
  border: 2px solid black;
}

tr {
  text-align: center;
  height: 200px;
}

td {
  min-width: 150px;
  padding: 10px;
}

tr td:last-child {
  color: rgb(106, 40, 193);
}

#movie-choice-form-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#name-input {
  border: 1px solid black;
  width: 80%;
  height: 30px;
}

#button-container {
  display: flex;
  gap: 20px;
}

label {
  font-weight: 700;
}

#select-like-movies-box {
  display: flex;
  gap: 10px;
}
